extends layout

block content
  #wrap
    #header
      .structure
        a#logo(href="/")
        h1 The Singing Bank

    #main
      .structure
        #left-control-wrapper
          #create

          p Select Account
          .sub
            ul
              - each account in accounts
                .sub
                  li 
                    a(href="./?bank_alias=#{account.bank_alias}&account_alias=#{account.account_alias}&owner_description=#{account.owner_description}") #{account.owner_description}
          br
          small Using data from the
          br 
          a(href="http://sofi.openbankproject.com") Open Bank Project Social Finance App

        #right-control-wrapper
          #controls
            input(type="image", width="100", src="./images/play_button_large.png",align="absmiddle",value="play",onclick="if(!playing){startPlaying()}")
            input(type="image", width="100", src="./images/stop_button_large.png",align="absmiddle",value="stop",onclick="stopPlaying()")

        #plugin-controls
          //plugin can put stuff here

        h1 #{owner_description} 

        #list
          ul
            - each trans in transactions
              li(id=trans.uuid)
                a(name=trans.uuid)
                if trans.details.value.currency == 'EUR'
                    &euro;&nbsp;
                else
                    //trans.details.value.currency
                    //fall back to euros for now
                    &euro;&nbsp;

                !{trans.details.value.amount}
              div.other_account_text(id="other_account_holder_" + trans.uuid)
                !{trans.other_account.holder.name}
              script(type='text/javascript')
                //- Add each transaction to a sound queue. The sound queue will be played once samples are loaded.
                addData(#{trans.details.value.amount}, "#{trans.details.completed}", "#{trans.uuid}");


        - if (cached)
            p.cached 
              script(type='text/javascript')
                console.log("cached transactions")
