#wrap
  #header
    .structure
      a#logo(href="/")
      h1 @OpenBankProject

  #main
    .structure

      #create 
      
      h1 Singing transactions!&nbsp;
      
      #controls
        input(type="image",src="./images/play_button.png",align="absmiddle",value="play",onclick="startPlaying()")
        input(type="image",src="./images/stop_button.png",align="absmiddle",value="stop",onclick="stopPlaying()")
      
      #plugin-controls
        //plugin can put stuff here

      #list
        ul
          - each trans in transactions
            li(id=trans.obp_transaction.obp_transaction_uuid)
              a(name=trans.obp_transaction.obp_transaction_uuid)
              !{trans.obp_transaction.details.value.amount}
              script(type='text/javascript')
                //- Add each transaction to a sound queue. The sound queue will be played once samples are loaded.
                addData(#{trans.obp_transaction.details.value.amount}, "#{trans.obp_transaction.details.completed}", "#{trans.obp_transaction.obp_transaction_uuid}");
